<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
        <title>Contacts List</title>
    </head>
    <body>
        <div class="container">

            <h1>Contacts List</h1>

            <p>Your contacts list has been cleared!</p>

            <h4><a href="/">Click here</a> to return to the main page.</h4>

        </div>
    </body>
</html>
