<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
        <link href="/styles.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Sansita" rel="stylesheet">
        <title>Contacts List</title>
    </head>
    <body>
        <img src="/tree_bg.jpg" id="hide-pic">

        <div class="container">

            <h1>Contacts List</h1>

            <div class="panel">
                <div class="panel-body" id="book-cleared">

                    <h3>Your address book has been cleared!</h3>
                    <br>
                    <h4><a href="/">Click here</a> to return to the main page.</h4>
                </div>
            </div>

        </div>
    </body>
</html>
