<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
        <link href="/styles.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Sansita" rel="stylesheet">
        <title>Contacts List</title>
    </head>
    <body>
        <div class="container">
            <img src="/tree_bg.jpg" id="hide-pic">

            <h1>Contacts List Update</h1>

            <div class="panel">
                <div class="panel-body" id="update-entry">

                    <h3>Your contact has been removed from your contact list!</h3>

                    <h4><a href="/">Click here</a> to return to the Contacts list page.</h4>
                </div>
            </div>
        </div>

        <footer class="footer-end">
            <p>Copyright (c) 2017 Erica Wright All Rights Reserved.</p>
        </footer>
    </body>
</html>
