body {
    background-image: url(/tree_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    min-height: 100%;
}

.panel {
    background: rgba(235, 245, 171, 0.5);
}
#contacts-list {
    background-color: #ECE098;
    background: rgba(171, 245, 183, 0.5);
}

h1, h2 {
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
}

h3, h4 {
    font-family: 'Sansita', sans-serif;
    text-align: center;
}

h5 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 20px;
    color: #1C6D55;
}

#delete-button {
    background: rgba(232, 86, 76, 0.5);
    /*border: solid 2px #D6463D;*/
}

#delete-button:hover {
    background: rgba(214, 70, 61, 0.8);
    color: #FFFFFF;
}

#add-button {
    background: rgba(61,214, 82, 0.7);
}

#add-button:hover {
    background: rgba(49,179, 80, 0.8);
    color: #FFFFFF;
}

.container {
    min-height: 100%;
    position: relative;
}

.footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    text-align: center;
    bottom: 0;
    /*padding: 1rem;*/
    width: 100%;
    /*height: 60px;
    line-height: 60px;*/
    vertical-align: middle;
}

.footer-end {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

#hide-pic {
    display: none;
}

#book-cleared, #add-entry {
    text-align: center;
}

#new-contact-box h2 {
    color: #1C6D55;
}

.required {
    color: #C31919;
    font-weight: bold;
}

.btn {
    display: block;
    margin: auto;
}

.update-one-contact {
    background: rgba(52, 192, 128, 0.5);
    font-size: 10px;
    margin-left: 0px;
}

.update-one-contact:hover {
    background: rgba(36, 147, 96, 0.8);
    color: #FFFFFF;
}

.delete-one-contact {
    background: rgba(223, 118, 79, 0.5);
    font-size: 10px;
    margin-left: 0px;
}

.delete-one-contact:hover {
    background: rgba(192, 90, 52, 0.8);
    color: #FFFFFF;
}
